@import url('https://fonts.cdnfonts.com/css/gilam');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #171717;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1460px;
    margin-left: 230px;
}

.subcontainer1-header {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}

.button1 {
    border: 1px solid #E4B564;
    padding: 10px 10px 10px 40px;
    color: #E4B564;
    text-decoration: none;
    font-size: 18px;
    height: 50px;
}

.titles {
    font-family: 'Gilam';
    font-size: 50px;
    font-weight: 700;
}

.title1 {
    margin-top: 89px;
}

.grid_bar1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-template-areas: 
        "item11 item11 item12 item12 item13 item13"
        "item14 item14 item14 item15 item15 item15";
    grid-row-gap: 27px;
    grid-column-gap: 29.5px;
    margin-top: 41px;
    margin-bottom: 161px;
}

.bar1-content {
    text-align: center;
    padding-top: 220px;
    font-family: 'Gilam';
    font-size: 20px;
    font-weight: 700;
}

.text {
    font-family: 'Gilam';
    font-size: 20px;
    font-weight: 700;
    margin: 43px 508px 41px 0;
}

.bar1_item1 {
    background-color: #634F2C;
    grid-area: item11;
}

.bar1_item2 {
    background-color: #B4A385;
    grid-area: item12;
}

.bar1_item3 {
    background-color: #E4B564;
    grid-area: item13;
}

.bar1_item4 {
    background-color: #635A4A;
    grid-area: item14;
}

.bar1_item5 {
    background-color: #B08C4D;
    grid-area: item15;
}

.title2 {
    margin-bottom: 94px;
}

.grid_bar2 {
    display: grid;
    width: 1460px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 156px);
    grid-template-areas: 
        "item21 item22 item23"
        "item21 item22 item23"
        "item24 item22 item26"
        "item24 item25 item26"
        "item24 item25 item27"
        "item24 item25 item27";
    grid-column-gap: 29.5px;
    grid-row-gap: 30px;
    margin-bottom: 191px;
}

.bar2_item1 {
    background-color: #0E0E0E;
    grid-area: item21;
}

.bar2_item2 {
    background-color: #242424;
    grid-area: item22;
}

.bar2_item3 {
    background-color: #1F1F1F;
    grid-area: item23;
}

.bar2_item4 {
    background-color: #1F1F1F;
    grid-area: item24;
}

.bar2_item5 {
    background-color: #E4B564;
    grid-area: item25;
}

.bar2_item6 {
    background-color: #0E0E0E;
    grid-area: item26;
}

.bar2_item7 {
    background-color: #0A0909;
    grid-area: item27;
}

.content25{
    color: #000;
}

.content27,
.content21,
.content22 {
    font-family: 'Gilam';
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 3px;
}

.bar2-content {
    font-family: 'Gilam';
    font-size: 20px;
    margin-top: 45px;
    margin-left: 50px;
}

.subcontainer3 {
    background-color: #0E0E0E;
    height: 1054px;
    width: 1920px;
    padding-top: 172px;
    padding-left: 230px;
    padding-right: 230px;
}

.grid_bar3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    width: 1460px;
    /* margin-left: 230px;
    margin-right: 230px; */

}

.subcontainer3-header {
    display: flex;
    margin-bottom: 72px;
    justify-content: space-between;
}

.button2 {
    border: 1px solid #E4B564;
    padding: 10px 40px;
    color: #E4B564;
    text-decoration: none;
    font-size: 18px;
}

.bar3_item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #634F2C;
}

.bar3_item2 {
    background-color: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar3_text_content {
    width: 326px;
    height: 140px;
    font-family: 'Gilam';
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    line-height: 28px;
    margin: 10px;
}

.bar3_item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E4B564;
}

.bar3_item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #635A4A;
}

.bar3_item5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B08C4D;
}

.bar3_item6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #634F2C;
}

.bar3_imgs {
    margin: 10px;
}
